<h1>Content site</h1>

<% if can?(:create, Content) %>
  <%= form_tag new_admin_content_path(), :method => 'get', :id => "type_chooser" do %>
    New Content:
    <%= select_tag("content_type", Content::TypesForSelect.map do |name, type|
       "<option data-action=\"#{new_with_type_admin_contents_path(type)}\" value=\"#{type}\">#{name}</option>"
      end.join().html_safe)%>
    <%= submit_tag "Create" %>
  <% end %>  
<% end %>  


<%= table_for @contents do |t| 
  t.column :id, :width => '30px', :align => 'right'
  t.column :title, :filter => :like
  t.action { |r| link_to image_tag(r.thumb_url,:width => 50), admin_content_path(r), :target => "_blank"  }
  t.column :description
  t.column :content do |content|
    if content.link.present?
      link_to(content.link,content.link,:target => "_blank")
    end
  end  
  t.action :header => 'Category' do |r|
    r.categories.map do |cat|
      cat.icon_url().present? ? image_tag(cat.icon_url(), :title => cat.title) : cat.title
    end.join(" ")
  end
  t.action {|content| link_to "Show", admin_content_path(content) }
  t.action {|content| link_to('Edit', edit_admin_content_path(content)) if can? :update, content }
  t.action {|content| link_to('Destroy',  admin_content_path(content), confirm: 'Are you sure?', :method => 'delete') if can? :destroy, content }
  
end  %>


<br />

<% content_for :dom_ready_scripts do %>
  $("form#type_chooser").submit(function() {
    window.location = $("select#content_type option:selected").attr("data-action");
    return false;
  });
<% end %>
