/* Do your local stuff here */

// stylr's global contstants
$stylr-font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$stylr-font-size:        13px !default;
$stylr-line-height:      18px !default;
$stylr-primary-color:    #3274D0 !default;
$stylr-secondary-color:  #7CBA0F !default;
$stylr-gray-color:       #DCDCDC !default;
$stylr-light-gray-color: #f5f5f5 !default;
$stylr-dark-gray-color:  #2c2c2c !default;
$stylr-text-color:       #333 !default;
$stylr-muted-text-color: lighten($stylr-text-color, 35%)!default;
