/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#debugparams {background-color: #ffcccc; position:fixed; right:0px; bottom:0px; width:200px; height: 100px;
 overflow:scroll; border: 1px solid black;
}