<h1>User site</h1>

<%= 
  table_for @users do |t|
    t.column :id, header: "Ihkjhk"
    t.column :first_name
    t.column :last_name
    t.column :email
    t.action do |user|
      link_to('Show', [:admin, user]) + " " +
      (can?(:update, user) ? link_to('Edit', edit_admin_user_path(user)) : '') + " " +
      (can?(:destroy, user) ? link_to('Destroy',  [:admin, user], confirm: 'Are you sure?', method: :delete) : '')
    end
  end
%>
<br />
<% if can? :create, @user %>
  <%= link_to 'New User', new_admin_user_path %>
<% end %>